# 0 3 * * * root cd /app && /usr/local/bin/python -m app.cron.update_core >> /var/log/cron.log 2>&1
0 3 * * 0 root cd /app && /usr/local/bin/python -m app.cron.update_metrics >> /var/log/cron.log 2>&1
echo "* * * * * root echo \"cron alive \$(date)\" >> /var/log/cron.log 2>&1" >> /etc/cron.d/mi-cron-app
